@{
    @using BLL.DTOs
    @model LoginDto

}
<div class="row">
    <div class="col-md-6 offset-3">
        <p>
        <h4>Увійти в профіль</h4>
        </p>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Помилка!</b>: @TempData["Error"]</span>
            </div>
        }
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-5">
                        <input class="btn btn-outline-success float right" type="submit" value="Увійти" />
                        <a class="btn btn-outline-secondary" asp-controller="Auth" asp-action="Index">Скасувати</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>