@model IEnumerable<DAL.Tools.Category>

    @{
    ViewData["Title"] = "Categories";
    }

    <style>

        body {
            background-color: #C4D0E8;
        }

        .card {
            width: 20vw;
            margin-bottom: 20px;
            background-color: #0046D21A;
        }

        .card-img-top {
            width: 70%;
            margin: 0 auto;
            display: block;
        }

        .card-title {
            font-size: 28px;
            color: #060542;
        }

        .card-body {
            padding: 1.25rem;
        }

        .card:hover {
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>

    <section class="jumbotron" style="text-align: left; background-color: #C4D0E8; padding: 20px 30px; ">
        <div class="container">
            <h1 style="margin: 20px 0 0;">Категорії</h1>
        </div>
    </section>



    <div class="album py-5 d-flex justify-content-center">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="~/img/@item.ImageFileName" alt=@item.Title>
                        <div class="card-body text-center">
                            <p class="card-title">@item.Title</p>
                            <a asp-controller="Product" asp-action="Product" asp-route-id="@item.Id" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
