<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade Pulse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Trade_Pulse.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow navbar_bg">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img alt="logo" src="~/img/logoTr.png" width="140"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link" style="color: #D0CDCD;" asp-area="" asp-controller="Home" asp-action="Index">
                                Домашня
                                Сторінка
                            </a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link " style="color: #D0CDCD;" asp-area="" asp-controller="Category"
                               asp-action="Index">Категорії</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " style="color: #D0CDCD;" asp-area="" asp-controller="Auth"
                               asp-action="Update">Профіль</a>
                        </li>

                        }
                        @if (!User.IsInRole("Постачальник"))
                            {
                        <li class="nav-item">
                            <a class="nav-link " style="color: #D0CDCD;" asp-area="" asp-controller="Cart"
                               asp-action="Index">Корзина</a>
                        </li>
                            }
                        <li class="nav-item">
                            <a class="nav-link " style="color: #D0CDCD;" asp-area="" asp-controller="Order"
                               asp-action="Index">Мої замовлення</a>
                        </li>
   
                    </ul>
                    <div class="d-flex justify-content-between">
                        @if (User.IsInRole("Постачальник"))
    {
                        <a href="@Url.Action("Create", "Product")" class="btn btn-primary" style="margin: 0 20px 0 0">Створити оголошення</a>
    }
                        <form method="post" asp-controller="Auth" asp-action="Logout">
                            <input type="submit" value="Вийти" class="btn btn-danger" />
                        </form>
                    </div>

                    }
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Trade Pulse - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
