@{
    @using BLL.DTOs
    @model ProductDto

}

<h2>Додати новий товар</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title">Назва:</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Опис:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model">Модель:</label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Ціна:</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ItemsAvailable">Кількість товару:</label>
        <input asp-for="ItemsAvailable" class="form-control" />
        <span asp-validation-for="ItemsAvailable" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Ідентифікатор категорії:</label>
        <input asp-for="CategoryId" class="form-control" />
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>