@{
    @using BLL.DTOs
    @using DAL.Tools
    @model CreateProductViewModel

}

<style>
    body {
        background-color: #C4D0E8;
    }

    .container-wrapper {
        background-color: white;
        padding: 20px;
        margin: 20px auto;
        max-width: 800px;
        border-radius: 20px;
        margin-bottom: 50px;
    }

    .form-container {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .btn-save {
        float: right;
        background-color: #060542;
        border-color: #060542;
        margin-top: 20px;
        border-radius: 40px;
    }

        .btn-save:hover {
            background-color: #002a41;
            border-color: #002a41;
        }

    .title {
        color: #060542;
        font-weight: bold;
    }

    .form-container {
        color: #184191;
    }

</style>

<div class="container-wrapper">
    <h2 class="text-center title">Створити оголошення про товар</h2>

    <div class="form-container">
        <form asp-action="Create" method="post" enctype="multipart/form-data" id="product_form">
            <div class="form-group">
                <label asp-for="Title">Назва:</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Опис:</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model">Модель:</label>
                <input asp-for="Model" class="form-control" value="Default" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price">Ціна:</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemsAvailable">Кількість товару:</label>
                <input asp-for="ItemsAvailable" class="form-control" />
                <span asp-validation-for="ItemsAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemsAvailable">Категорія:</label>
                <select asp-for="CategoryId" class="form-control form-control-md">
                    @for (int i = 0; i < Model.Categories.Length; ++i)
                    {
                        <option value="@Model.Categories[i].Id">@Model.Categories[i].Title</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainImageFile">Головна Картинка (до 1 МБ, jpeg, jpg, png):</label>
                <input asp-for="MainImageFile" type="file" class="form-control" name="MainImageFile" value="@Model.MainImageFile?.FileName" />
                <span asp-validation-for="MainImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagesFiles">Картинки для опису (5 картинок, до 5 МБ, jpeg, jpg, png):</label>
                <input asp-for="ImagesFiles" type="file" class="form-control" name="ImagesFiles" multiple="multiple" />
                <span asp-validation-for="ImagesFiles" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary btn-save">Створити оголошення</button>
            <div style="display: none">
                @for (int i = 0; i < Model.Categories.Length; ++i)
                {
                    @Html.EditorFor(m => m.Categories[i])
                }
            </div>
        </form>
    </div>
</div>
