@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="welc">
        <img src="~/img/welc.png" alt="img">
        <div class="w_info">
            <h1>TRADE PULSE</h1>
            <p>Шукаєте можливість почати або розширити свій товарний бізнес? Приєднуйтесь до нас сьогодні та почніть збільшувати свій прибуток! </p>
            <div class="but_avt">
                <a href="/Auth" class="btn btn-info m-1" role="button">Вхід</a>
                <a href="/Auth/SignUp" class="btn btn-info m-1" role="button">Зареєструватись</a>
            </div>
        </div>
    </section>

    <section class="sh_info">
        <h1>Що таке дропшипінг?</h1>
        <p>Дропшипінг - це спосіб продажу товарів, при якому ви не потребуєте власного складу або інвентаря. Замість того, щоб тримати товари на складі, ви продаєте товари через свій інтернет-магазин, а постачальник відправляє їх безпосередньо до ваших клієнтів. Це дозволяє зосередитися на маркетингу і продажах, не витрачаючи час і гроші на управління складом і логістикою.</p>
    </section>

    <section class="drop_work">
        <h1>Як дропшипінг працює?</h1>
        <div id="box_container">
            <div class="box_work">
                <img src="~/img/order.png" alt="order" id="order">
                <p class="step">Крок 1</p>
                <p class="work_info">Клієнт робить замовлення у вашому інтернет-магазині</p>
            </div>
            <div class="box_work">
                <img src="~/img/transfer-order.png" alt="transfer-order">
                <p class="step">Крок 2</p>
                <p class="work_info">Оформляєте або передаєте замовлення вашому постачальнику</p>
            </div>
            <div class="box_work">
                <img src="~/img/boxes.png" alt="boxes">
                <p class="step">Крок 3</p>
                <p class="work_info">Постачальник  приймає замовлення</p>
            </div>
            <div class="box_work">
                <img src="~/img/delivery.png" alt="delivery">
                <p class="step">Крок 4</p>
                <p class="work_info">Постачальник відправляє товар вашому клієнту та надсилає вам кошти за вашу націнку</p>
            </div>
        </div>
    </section>

    <section class="work_start">
        <h1>Як почати дропшипінг?</h1>
        <ul class="grid-container">
            <li>Виберіть бізнес ідею</li>
            <li>Створіть привабливий контент</li>
            <li>Проведіть аналіз ринку (попит, конкуренція)</li>
            <li>Встановіть ціни</li>
            <li>Виберіть товари та постачальника</li>
            <li>Запустіть маркетинг</li>
            <li>Створіть свій інтернет-магазин для продажу товарів</li>
            <li>Аналізуйте та покращуйте свою пропозицію</li>
        </ul>
    </section>
</main>