@{
    @model BLL.DTOs.CreateOrderDto;
    @using Microsoft.Extensions.Configuration
    @inject IConfiguration Configuration

}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<h2>Створити оголошення</h2>
<form asp-action="CreateOrder" method="post">
    @* <select asp-for="PaymentType" class="form-control form-control-md" id="np_deps">
    *@</select>
    <div class="form-group">
        <label asp-for="Region">Область</label>
        <input asp-for="Region" class="form-control form-control-md" id="np_deps">
        <span asp-validation-for="Region" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City">Населений пункт</label>
        <input asp-for="City" class="form-control form-control-md" id="np_deps">
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Street">Вулиця, номер будинку (під'їзду), квартира</label>
        <input asp-for="Street" class="form-control form-control-md" id="np_deps">
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PostalCode">Поштовий індекс</label>
        <input asp-for="PostalCode" class="form-control form-control-md">
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DropPrice">Дроп ціна</label>
        <input asp-for="DropPrice" type="number" class="form-control form-control-md">
        <span asp-validation-for="DropPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DeliveryType">Спосіб доставки:</label>
        <select asp-for="DeliveryType" class="form-control form-control-md">
            <option>Самовивіз</option>
            <option>Meest Express</option>
            <option>Нова Пошта</option>
        </select>
        <span asp-validation-for="DeliveryType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PaymentType">Спосіб оплати:</label>
        <select asp-for="PaymentType" class="form-control form-control-md">
            <option>Накладний платіж</option>
            <option>Передоплата</option>
        </select>
        <span asp-validation-for="PaymentType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="ProductId" type="hidden" name="productId" value="@Model.ProductId" />
    </div>
    <div class="form-group">
        <input asp-for="ItemsCount" type="hidden" name="itemsCount" value="@Model.ItemsCount" />
    </div>
    @*  <div class="form-group">
    <label>Область:</label>
    <select class="form-control form-control-md" id="area_select">
    <option>Вінницька область</option>
    <option>Волинська область</option>
    <option>Дніпропетровська область</option>
    <option>Донецька область</option>
    <option>Житомирська область</option>
    <option>Закарпатська область</option>
    <option>Запорізька область</option>
    <option>Івано-Франківська область</option>
    <option>Київська область</option>
    <option>Кіровоградська область</option>
    <option>Луганська область</option>
    <option>Львівська область</option>
    <option>Миколаївська область</option>
    <option>Одеська область</option>
    <option>Полтавська область</option>
    <option>Рівненська область</option>
    <option>Сумська область</option>
    <option>Тернопільська область</option>
    <option>Харківська область</option>
    <option>Херсонська область</option>
    <option>Хмельницька область</option>
    <option>Черкаська область</option>
    <option>Чернівецька область</option>
    <option>Чернігівська область</option>
    <option>Автономна Республіка Крим</option>
    </select>
    </div>
    <div class="form-group">
    <label>Місто:</label>
    <select class="form-control form-control-md">
    </select>
    </div>
    <div class="form-group">
    <label asp-for="DropPrice">Модель:</label>
    <input asp-for="Model" class="form-control" value="Default" />
    <span asp-validation-for="Model" class="text-danger"></span>
    </div> *@
    <button type="submit" class="btn btn-success mt-2">Оформити замовлення</button>

</form>

@section scripts {
    <script>
        $("#area_select").on("change", function () {
            const value = this.options[this.selectedIndex].text;
            const body = {
                apiKey: @Configuration["NP:Key"]
                            }
        });
    </script>

}